albumentations==0.4.3
fastai==1.0.60
h5py==2.10.0
imgaug==0.2.6
jupyter==1.0.0
matplotlib==3.1.1
notebook==6.1.5
numpy==1.16.4
pandas==0.24.2
pretrainedmodels==0.7.4
pydicom==1.4.2
scikit-image==0.16.2
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.10.0
sklearn==0.0
torch==1.1.0
torchfile==0.1.0
torchvision==0.3.0
tqdm==4.32.2
urllib3==1.25.8
